@mixin imagen-redonda ($tamano: 50px) {
    border-radius: 50%;
    vertical-align: middle;
    width: $tamano;
}

@mixin grid-template($columnas, $filas: 1fr, $column-gap: 0px, $row-gap: 0px) {
    display: grid;
    grid-template-columns: $columnas;
    grid-template-rows: $filas;
    grid-column-gap: $column-gap;
    grid-row-gap: $row-gap;
}

@mixin boton-link () {
    background-color: transparent;
    border: none;
    color: #1CA0F6;
    margin-left: auto;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
        color: #2b7eb6;
    }
}