@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import "variables";
@import "mixins";

* {
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 2px solid $border-color;
    padding: 0.5rem 1rem;
    & nav {
        @include grid-template(repeat(2, 1fr));
    }
}

.logo {
    & a {
        color: #000;
        max-width: fit-content;
        text-decoration: none;
    }
    & h2 {
        display: inline-block;
        font-size: 2rem;
        font-weight: 400;
    }
}

.buscador {
    display: none;
}

.foto-perfil {
    align-self: center;
    justify-self: end;
    & img {
        @include imagen-redonda();
    }
}

.historias {
    padding: 2rem 2rem 1rem;
    & div {
        @include grid-template(repeat(4, 1fr), 1fr, 25px);
        border: 1px solid $border-color;
        border-radius: 8px;
        overflow-x: scroll;
        padding: 1.5rem 2.5rem;
    }
    & a {
        justify-self: center;
    }
    & img {
        @include imagen-redonda(80px);
    }
}

.publicaciones {
    padding: 1rem 2rem;
}

.publicacion {
    border: 1px solid $border-color;
    border-radius: 8px;
}

.publicacion-header {
    @include grid-template(1fr auto, 1fr, 10px);
    border-bottom: 1px solid $border-color;
    padding: 0.75rem;
    & a {
        color: #000;
        overflow-x: hidden;
        text-decoration: none;
        white-space: nowrap;
        max-width: fit-content;
    }
    & p {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-left: 10px;
    }
    & img {
        @include imagen-redonda();
    }
    & .btn-vermas {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        &::after {
            content: "\00B7 \00B7 \00B7";
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

.publicacion-body {
    padding: 1.5rem;
    & .foto-publicacion {
        padding-bottom: 0;
        & img {
            width: 100%;
        }
    }
    & .publicacion-acciones {
        display: inline-block;
        & div {
            &:first-child {
                padding: 0.5rem 0;
                width: fit-content;
                @include grid-template(repeat(4, auto), 1fr, 5vw);
                & button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                }
            }
        }
    }
}
